body{
    background-color: black;
}
form{
    background-color: aliceblue;
    width: 45%;
    margin: 100px auto;
}
form input{
    padding: 10px 40px;
    border: none;
    outline: none;
    margin: 10px;
}
form select{
    border: none;
    outline: none;
    padding: 10px 73px;
    margin: 10px;
}